<section class="footer">
    <div class="container">
        <div class="">
            <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="footer-logo">
              <img src="../../../assets/images/kaker_logo.png" width="100px" height="100px" class="img-fluid" alt="">
            </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="quick-link">
                <ul>
                    <li><strong>Quick Link</strong></li>
                    <li><a routerLink="/accomodation">Accomodation</a></li>
                    <li><a routerLink="/foodandbeverage">Food &amp; Beverage</a></li>
                    <li><a routerLink="/lifestyle">Lifestyle</a></li>
                    <li><a routerLink="/celebrations">Celebrations</a></li>
                    <li><a routerLink="/offers">Offers</a></li>
                  </ul>
            </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
           <div class="quick-link">
             <ul>
                <li><strong>Book</strong></li>
              <li><a routerLink="">Contact Us</a></li>
              <li><a routerLink="">About Us</a></li>
              <li><a routerLink="">Sitemap</a></li>
             </ul>
           </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="quick-link">
                        <ul>
                           <li><strong>Legal</strong></li>
                         <li><a routerLink="">Legal Notice</a></li>
                         <li><a routerLink="">Site Usage Policy</a></li>
                         <li><a routerLink="">Privacy Policy</a></li>
                        </ul>
                      </div>
            </div>
        </div>
        </div>
        </div>
        
</section>
<div class="copyright">
<p>&copy; 2018 Kaker Hotel's All Rights Reserved.</p>
</div>