@import '~@angular/material/theming';
@mixin navtabs-component-theme($mydream) {

    $primary: map-get($mydream, primary);
    $acceent: map-get($mydream, accent);

    //All our style will go here....
    .navtabs-container {
        background-color: mat-color($mydream-primary,500 );
    }
   
}