<div class="main">
    <mat-card class="card">
        <h2><marquee behavior="alternate" direction="" scrollamount="10" onmouseout="start()" onmouseover="stop()">Find The best Rooms in Goa</marquee></h2>
      </mat-card>
      
</div>
<div class="rooms-home-display" fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
    <mat-card class="mat-img single" fxFlex="30" fxFlex.sm="80">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Single Room</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" >Info</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-img twin" fxFlex="30" fxFlex.sm="80">
        <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <h2>Twin</h2>
        </mat-card-header>
        <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" >Info</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-img tripple" fxFlex="30" fxFlex.sm="80">
          <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <h2>Tripple</h2>
          </mat-card-header>
          <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" >Info</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div class="rooms-home-display " fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
      <mat-card class="mat-img king" fxFlex="30" fxFlex.sm="80">
        <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <h2>King</h2>
        </mat-card-header>
        <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" >Info</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-img queen" fxFlex="30" fxFlex.sm="80">
          <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <h2>Queen</h2>
          </mat-card-header>
          <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" >Info</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="mat-img seaface" fxFlex="30" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
              <h2>Sea-Face</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" >Info</button>
            </mat-card-actions>
          </mat-card>
    </div>