.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.card{
    width: 80%;
    text-align: center;
    
    }
    .mat-img{
        margin: 10px;
    }
    .single{
        background: url('../../assets/images/singlebed.jpg')center center no-repeat;
        background-size: cover;
        min-height: 400px;
       }
       .twin{
        background: url('../../assets/images/twin.jpg')center center no-repeat;
        background-size: cover;
        min-height: 400px;
       }
       .tripple{
        background: url('../../assets/images/tripple.jpg')center center no-repeat;
        background-size: cover;
        min-height: 400px;
       }
       .king{
        background: url('../../assets/images/king.jpg')center center no-repeat;
        background-size: cover;
        min-height: 400px;
       }
       .queen{
        background: url('../../assets/images/queen.jpg')center center no-repeat;
        background-size: cover;
        min-height: 400px;
       }
       .seaface{
        background: url('../../assets/images/seaface.jpg')center center no-repeat;
        background-size: cover;
        min-height: 400px;
       }
       button {
        min-height: 40px;
        min-width: 141px;
    }
    .rooms-home-display mat-card-actions {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .rooms-home-display mat-card-header {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        color: #000000;
        font-size: 34px;
        height: 53px;
        width: 100%;
        background: rgba(255, 248, 225,.5);
      }