<div class="head-section">
<img src="../../assets/images/life-style.jpg" alt="life-style">
<h1>Experiance Lifestyle @ Goa</h1>
</div><br><br>
<div class="card-1">
    <mat-card>
      <div class="heading">
          <h2><strong>LifeStyle @ Resort</strong></h2>
      </div><hr>
      <div class="content">
        <h3>We Believe Travelling is not about Staying at a different spot, It rejuvunating our Spirit to Live once again.</h3>
        <p>Resort at Goa gives you Glimpse on Lifestyle to nurture Your Spirit Once again.</p><br>
        <button mat-raised-button color="primary">Join Us to Celebrate Not Just festivals But Celebrate Life</button>
      </div>
    </mat-card>
</div>
<div class="yoga">
 <h2>Yoga</h2>
 <h5>Begin Your day with deep inhaling the spirit of Port Blair</h5>
 <div class="images">
    <img src="../../assets/images/yoga-1.jpg" alt="yoga-image">
    <img src="../../assets/images/yoga-2.jpg" alt="yoga-image1">
    <img src="../../assets/images/yoga-3.jpg" alt="yoga-image2">
 </div>
 <h4>Professional trainers from the land of Yogis 'Rishikesh' are here to help you breathe in 'life'</h4>
</div>
<div class="spa">
 <h2>Spa</h2>
 <h5>Relax your body with Ayurvedic Spa</h5>
 <div class="images">
    <img src="../../assets/images/spa-1.jpg" alt="yoga-image">
    <img src="../../assets/images/spa-2.jpg" alt="yoga-image1">
    <img src="../../assets/images/spa-3.jpg" alt="yoga-image2">
 </div>
 <h4>Brought to you by the Experts of Ayurvedic Medicine and modern Theraputics</h4>
</div>
<div class="sport">
 <h2>Sports</h2>
 <h5>Sports and Games</h5>
 <div class="images">
    <img src="../../assets/images/sport-1.jpg" alt="yoga-image">
    <img src="../../assets/images/sport-2.jpg" alt="yoga-image1">
    <img src="../../assets/images/sport-3.jpg" alt="yoga-image2">
 </div>
 <h4>Sports is the real Spirit behind Youth and Liveliness. Njoy Adventures with us</h4>
</div><br><br>

