<div class="wedding">
  <img src="../../assets/images/wedding.jpg" class="img-fluid" alt="">
</div>
<div class="sec2">
  <p>Wedding:Tie the Knots at Goa Resort</p>
  <h4>We Host different wedding Season from theme of Royal Wedding to Monsoon Wedding.
      Our Professionals are expert in Flavours of Thai Wedding Indian Wedding.</h4><br>
      <h4>Artist From various Gharanas and Schools will make your Wedding experiance 'One fine Day OF My Life'</h4>
</div>
<div class="sec3">
  <img src="../../assets/images/hotel.jpg" alt="">
  <p>Plan Your Wedding At Goa Resort <br>
      Equitorial Paradise of India</p>
</div>
