<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="group">
          <div class="img">
              <img src="../../assets/images/offer2.jpg" class="img-fluid" alt="">
        </div>
        <div class="text">
          <p>  Some quick example text to build on the card title and make up the bulk of the card's content.</p><br>
            <button class="btn btn-primary">Book Now</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
   <div class="group">
    <div class="img">
      <img src="../../assets/images/offer2.png" class="img-fluid" alt="">
  </div>
  <div class="text">
    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p><br>
        <button class="btn btn-primary">Book Now</button>
  </div>
   </div>
    </div>
    <div class="col-sm-12 col-lg-4">
     <div class="group">
      <div class="img">
        <img src="../../assets/images/offer3.jpg" class="img-fluid" alt="">
      </div>
      <div class="text">
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p><br>
        <button class="btn btn-primary">Book Now</button>
      </div>
     </div>
    </div>
  </div>
</div>
<div class="container">
<div class="main">
  
    <h1>Special Offer</h1>
    <img src="../../assets/images/offer4.jpg" class="img-fluid" alt="">
    <p>With supporting text below as a natural lead-in to additional content.</p><br>
    <button class="btn btn-primary">Book Now</button>
  </div>
</div>
<div style="text-align:center;color:rgb(158, 157, 157);">
  <h5 >2 days ago</h5>
</div>
<div class="container">
  <div class="col sm-12 col-lg-6">
    <div class="grid_img">
      <a routerLink=""><img src="../../assets/images/offer5.jpg" class="img-fluid" alt="">
      </a>
      <img src="../../assets/images/special_offer1.png" class="offer" alt="">

    </div>
    </div>
    <div class="col sm-12 col-lg-6">
    <div class="grid_img">
      <a routerLink=""><img src="../../assets/images/offer6.jpg" class="img-fluid" alt=""></a>
    </div>
    </div>
    <div class="col sm-12 col-lg-6">
    <div class="grid_img">
      <a routerLink=""><img src="../../assets/images/offer7.jpg" class="img-fluid" alt=""></a>
    </div>
    </div>
    <div class="col sm-12 col-lg-6">
    <div class="grid_img">
      <a routerLink=""><img src="../../assets/images/offer8.jpg" class="img-fluid" alt=""></a>
    </div>
    </div>
</div>
<div class="container">
  <div class="btm-img">
    <img src="../../assets/images/summer-sale-offer.jpg" class="img-fluid" alt="">
  </div>
</div>

